<footer class="section footer">

    <main class="section-main footer-main">

        <div class="logo">
            <img src="./images/icons/icon-NC-coin" alt="LOGO">
            <h3>Meta Rewards</h3>
        </div>

        <div class="socials">
            <a href=""><img src="./images/icons/socials/icon-telegram.png" alt="TELEGRAM"></a>
            <a href=""><img src="./images/icons/socials/icon-twitter.png" alt="TWITTER"></a>
        </div>

        <h6 class="copyrights">CopyrIght 2021 - All Rights Reserved</h6>

    </main>

</footer>