<div class="navbar hidden">

    <a href="" class="logo">
        <img src="./images/icons/icon-NC-coin" alt="LOGO">
        <h1>Meta Rewards</h1>
    </a>

    <nav class="menu">

        <div class="menu-greyarea">
            <div class="menu-main">

                <div class="menu-topbar">
                    
                    <a href="" class="menu-topbar-logo">
                        <img src="./images/icons/icon-NC-coin" alt="LOGO">
                        <h1>Meta Rewards</h1>
                    </a>
                    
                    <div class="button-menu-close">
                        <img src="./images/icons/menu-close.png">
                    </div>
                </div>
               
                <ul class="menu-list">

                    <li><a href="">ABOUT</a></li>
                    <li><a href="">TOKENOMICS</a></li>
                    <li><a href="">FEATURES</a></li>
                    <li><a href="">ROAD MAP</a></li>
                    <li><a href="">WHITE PAPER</a></li>
    
                </ul>

            </div>
        </div>

    </nav>

    <div class="socials">
        <a href=""><img src="./images/icons/socials/icon-telegram.png" alt="TELEGRAM"></a>
        <a href=""><img src="./images/icons/socials/icon-twitter.png" alt="TWITTER"></a>
    </div>

    <div class="button-menu-open">
        <img src="./images/icons/menu-open.png">
    </div>

</div>