<section class="section banner hidden">

    <main class="section-main">

        <h1 class="tilte">Meta Rewards</h1>
        <h4 class="divider-standard">◆◆◆◆◆◆◆</h4>

        <h4 class="message">$MRT is a deflationary token designed to become more scarce over time. All holders of MRT
            will earn a 10% reward from every Buy/ Sell Transaction in BNB, which is automatically sent to their
            wallets.</h4>

        <div class="banner-button button-standard">
            <h6>READ MORE</h6>
            <img class="button-standard-icon" src="./images/icons/icon-NC-community">
        </div>

    </main>

    <div class="banner-shape-bottom">
        <img src="./images/backgrounds/banner-wave-bottom.svg">
    </div>

</section>