<section class="section features hidden">
    <main class="section-main">

        <h1 class="title">Token Features</h1>

        <h4 class="divider-standard">◆◆◆◆◆◆◆</h4>

        <div class="features-list">

            <div id="feature-bnb" class="feature-container hidden">

                <div class="feature-image-wrap">
                    <img class="feature-image" src="./images/features-1.png">
                </div>

                <div class="feature-card">
                    <img class="feature-card-icon" src="./images/icons/icon-NC-community" alt="">
                    <h2 class="feature-card-name">BNB Reflections</h2>
                    <h5 class="feature-card-description">2% is collected from every transaction and converted to BNB,
                        then stored in our contract. This wallet is known as the BuyBack Wallet, when enabled it
                        purchases MRT from exchanges and removes the purchased tokens permanently from circulating
                        supply while simultaneously providing price stability and increases for our community of holders
                    </h5>
                </div>

            </div>

            <div id="feature-liquidity" class="feature-container hidden">

                <div class="feature-image-wrap">
                    <img class="feature-image" src="./images/features-2.png">
                </div>

                <div class="feature-card">
                    <img class="feature-card-icon" src="./images/icons/icon-NC-community" alt="">
                    <h2 class="feature-card-name">Liquidity Pool</h2>
                    <h5 class="feature-card-description">Our Smart contract deposits 1% from every buy/sell transaction
                        as $Meta Rewards and $BNB into the Pancake swap liquidity pool. A bigger liquidity pool will
                        provide more stability to the $MRT price.</h5>
                </div>

            </div>

            <div id="feature-buyBack" class="feature-container hidden">

                <div class="feature-image-wrap">
                    <img class="feature-image" src="./images/features-3.png">
                </div>

                <div class="feature-card">
                    <img class="feature-card-icon" src="./images/icons/icon-NC-community" alt="">
                    <h2 class="feature-card-name">Buy-Back Wallet</h2>
                    <h5 class="feature-card-description">2% is collected from every transaction and converted to BNB,
                        then stored in our contract. This wallet is known as the BuyBack Wallet, when enabled it
                        purchases MRT from exchanges and removes the purchased tokens permanently from circulating
                        supply while simultaneously providing price stability and increases for our community of holders
                    </h5>
                </div>

            </div>

            <div id="feature-antiWhale" class="feature-container hidden">

                <div class="feature-image-wrap">
                    <img class="feature-image" src="./images/features-4.png">
                </div>

                <div class="feature-card">
                    <img class="feature-card-icon" src="./images/icons/icon-NC-community" alt="">
                    <h2 class="feature-card-name">Anti-Whale Mechanism</h2>
                    <h5 class="feature-card-description">Our Anti-Whale function ensures that No buy or sell amounts
                        higher than 0.15% of the total supply are possible at once. We will advocate for ALL of our
                        community of holders!</h5>
                </div>

            </div>

        </div>

    </main>
</section>