<section class="section info hidden">

    <main class="section-main">

        <p>On the Binance Smart Chain (BSC), Meta Rewards is the Evolution of Reflection tokens. The Meta Rewards goal
            is to optimize holders profits with our revenue generating efforts and innovative use cases.</p>

        <p>Simply by holding $MRT, users will receive 10 percent in BNB from all transactions. The reflections are
        automatically transferred to their wallets.</p>

    </main>

    <div class="info-shapes-background">
        <img id="shape-1" src="./images/shapes/graph_1.png">
        <img id="shape-2" src="./images/shapes/graph_4.png">
        <img id="shape-3" src="./images/shapes/graph_2.png">
        <img id="shape-4" src="./images/shapes/graph_7.png">
    </div>

</section>