<section class="section roadmap hidden">

    <main class="section-main">

        <h1 class="title">Our Roadmap</h1>

        <h4 class="divider-standard">◆◆◆◆◆◆◆</h4>

        <div class="roadmap-list">

            <div class="phase-card">
                <h4 class="phase-card-name">PHASE 1</h4>
                <h5 class="phase-card-description">This is Where We Introduce Meta Rewards Token to the World</h5>

                <ul class="phase-card-list">

                    <li>
                        <img class="icon" src="./images/shapes/circle.svg"></img>
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </li>
                    <li>
                        <img class="icon" src="./images/shapes/circle.svg"></img>
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </li>
                    <li>
                        <img class="icon" src="./images/shapes/circle.svg"></img>
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </li>
                    <li>
                        <img class="icon" src="./images/shapes/circle.svg"></img>
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </li>

                </ul>

            </div>

            <div class="phase-card">
                <h4 class="phase-card-name">PHASE 2</h4>
                <h5 class="phase-card-description">This is Where We Introduce Meta Rewards Token to the World</h5>

                <ul class="phase-card-list">

                    <li>
                        <img class="icon" src="./images/shapes/circle.svg"></img>
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </li>
                    <li>
                        <img class="icon" src="./images/shapes/circle.svg"></img>
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </li>
                    <li>
                        <img class="icon" src="./images/shapes/circle.svg"></img>
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </li>
                    <li>
                        <img class="icon" src="./images/shapes/circle.svg"></img>
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </li>
                    <li>
                        <img class="icon" src="./images/shapes/circle.svg"></img>
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </li>
                    <li>
                        <img class="icon" src="./images/shapes/circle.svg"></img>
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </li>

                </ul>

            </div>

            <div class="phase-card">
                <h4 class="phase-card-name">PHASE 3</h4>
                <h5 class="phase-card-description">This is Where We Introduce Meta Rewards Token to the World</h5>

                <ul class="phase-card-list">

                    <li>
                        <img class="icon" src="./images/shapes/circle.svg"></img>
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </li>
                    <li>
                        <img class="icon" src="./images/shapes/circle.svg"></img>
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </li>
                    <li>
                        <img class="icon" src="./images/shapes/circle.svg"></img>
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet
                            consectetur adipisicing elit.</h6>
                    </li>
                </ul>

            </div>

        </div>

    </main>

    <div class="roadmap-background"></div>

</section>