<section class="section tokenomics hidden">

    <main class="section-main">

        <h5 class="title">TOKENOMICS</h5>

        <h2 class="motto-1">Meta Rewards Is The Evolution</h2>

        <h4 class="divider-standard">◆◆◆◆◆◆◆</h4>

        <h3 class="motto-2">of a reflection token on the Binance Smart Chain (BSC).</h3>

        <h5 class="description">
            The first BNB reflection token to maximize your earnings by providing multiple revenue streams for buybacks.
            BuyBacks will encourage growth and maximize profits. Simply hold $MRT tokens and get rewarded 10% in BNB
            from each transaction, automatically delivered to your wallet.
        </h5>


        <div class="info-cards-container">

            <div class="info-card">
                <h1 class="info-card-value">10%</h1>
                <h6 class="info-card-name">BNB DIVIDENDS</h6>
            </div>

            <div class="info-card">
                <h1 class="info-card-value">1%</h1>
                <h6 class="info-card-name">AUTO LIQUIDITY</h6>
            </div>

            <div class="info-card">
                <h1 class="info-card-value">5%</h1>
                <h6 class="info-card-name">MARKETING/DEVELOPMENT</h6>
            </div>

            <div class="info-card">
                <h1 class="info-card-value">2%</h1>
                <h6 class="info-card-name">BUYBACK WALLET</h6>
            </div>

        </div>

    </main>

    <div class="tokenomics-background">

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="elementor-shape-fill" d="M761.9,44.1L643.1,27.2L333.8,98L0,3.8V0l1000,0v3.9"></path>
        </svg>

    </div>

</section>