<section class="section whitepaper hidden">

    <main class="section-main">

        <h1 class="title">White Paper</h1>

        <h4 class="divider-standard">◆◆◆◆◆◆◆</h4>

        <div class="whitepaper-button button-standard">
            <h6>DOWNLOAD WHITE PAPER PDF</h6>
            <img class="button-standard-icon" src="./images/icons/icon-NC-community">
        </div>
    </main>

</section>